.product-table {
  // min-width: 1200px;
  border-collapse: collapse;
  table-layout: auto;

  display: block;

  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: auto;

  text-align: center;
}

/* общие ячейки */
.product-table th,
.product-table td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  //white-space: nowrap;
}

/* HEADER */
.product-table thead th,
.product-table tr:first-child th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  box-shadow: 0 1px 0 #ddd;
}

/* CODE */
.col-code {
  min-width: 60px;
  white-space: nowrap;
}

/*CATEGORY*/
.col-category {
  min-width: 120px;
}

/* NAME */
.col-name {
  min-width: 300px;
  text-align: center;
}

/*SHORT DESCRIPTION (CHARACTERISTICS)*/
.col-char {
  min-width: 200px;
  text-align: center;
}

/* PRIMARY PACKAGING */
.col-packaging {
  min-width: 200px;
}

/*COUNTRY*/
.col-country {
  min-width: 120px;
}

/* ZONE */
.col-zone {
  min-width: 160px;
  text-align: center;
}

/* ACTIONS */
.col-actions {
  min-width: 200px;
  text-align: center;
}

/* wrapper для кнопок */
.actions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-table tbody tr:hover {
  background: #c8c8f3;
  cursor: pointer;
}
