.product-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  display: block;

  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: auto;

  text-align: center;
}

/* общие ячейки */
.product-table th,
.product-table td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}


/* HEADER */

.product-table thead th,
.product-table tr:first-child th {
  position: sticky;
  top: 0;

  background: #fff;

  z-index: 10;

  box-shadow: 0 1px 0 #ddd;
}


/* CODE */
.col-code {
  width: 60px;
  white-space: nowrap;
}

/*CATEGORY*/
.col-category {
  width: 40px;
}

/* NAME */
.col-name {
  width: 260px;
  text-align: center;
}

/*SHORT DESCRIPTION (CHARACTERISTICS)*/
.col-char {
  width: 180px;
  text-align: center;
}

/* CATEGORY */
.col-category {
  width: 160px;
}

/* PRIMARY PACKAGING */
.col-packaging {
  width: 180px;
}

/*COUNTRY*/
.col-country {
  width: 120px;
}

/* ZONE */
.col-zone {
  width: 160px;
  text-align: center;
}

/* ACTIONS */
.col-actions {
  width: 200px;
  text-align: center;
}

/* wrapper для кнопок */
.actions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}